.nav{
  height: 50px;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav span {
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}

.logo {
  height: 25px;
  padding-top: 5px;
}

.search {
  display: flex;
  align-items: center;
  flex: 1;
}

.search input {
  border-radius: 2%;
  border: none;
  width: 90%;
  height: 25px;
  padding: 3px 10px;
}

.search button {
  background-color: #323232;
  opacity: 0.8;
  border: none;
  height: 31px;
}

.search button img {
  height: 20px;
}
